<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
  		 <command
	            name="JumpToTest"
	            defaultHandler="moreUnit.handler.JumpActionHandler"
	            description="Jump to test."
	            categoryId="org.eclipse.jdt.ui.category.source"
	            id="moreunit.jumptotestaction">
	   </command> 
		<command
	            name="CreateTestMethod"
	            defaultHandler="moreUnit.handler.CreateTestMethodActionHandler"
	            description="Creation of a testmethod."
	            categoryId="org.eclipse.jdt.ui.category.source"
	            id="moreunit.createtestmethod">
	   </command> 
   </extension> 
   <extension point="org.eclipse.ui.bindings">
   	   <key
	      sequence="CTRL+J"
	      commandId="moreunit.jumptotestaction"
	      contextId="org.eclipse.jdt.ui.javaEditorScope"
	      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key> 
	   <key
	      sequence="CTRL+U"
	      commandId="moreunit.createtestmethod"
	      contextId="org.eclipse.jdt.ui.javaEditorScope"
	      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
   
    <!--
     <extension point="org.eclipse.ui.actionSets">
   		<actionSet
   			id="moreUnit.actionSet"
   			label="JOOutside"
   			visible="true">
   			<action
   				id="moreUnit.toolbar.DeleteMarkerAction"
   				label="-"
	   			toolbarPath="JOGroup"
   				class="moreUnit.toolbar.DeleteMarkerAction">
   			</action>
   			<action
   				id="moreUnit.toolbar.AddMarkerAction"
   				label="+"
	   			toolbarPath="JOGroup"
   				class="moreUnit.toolbar.AddMarkerAction">
   			</action>

   		</actionSet>
   </extension>
   -->

   <extension point="org.eclipse.ui.popupMenus">
	  <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="moreunit.contribution1">
         <action
               label="Generate Test"
               definitionId="moreunit.createtestmethod"
               class="moreUnit.actions.CreateTestMethodEditorAction"
               menubarPath="additions"
               id="moreunit.actions.createtestmethodaction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="moreunit.contribution2">
         <action
               label="Jump to test"
               definitionId="moreunit.jumptotestaction"
               class="moreUnit.actions.JumpAction"
               menubarPath="additions"
               id="moreunit.actions.jumptotestaction">
         </action>
      </viewerContribution>
      <objectContribution
      	id="moreunit.testcreator"
      	objectClass="org.eclipse.jdt.core.IMethod">
      	<action id="moreunit.actions.testcreatoraction"
      		label="Generate Test"
      		class="moreUnit.actions.CreateTestMethodHierarchyAction"
      		menubarPath="additions"/>      		
      </objectContribution>
      <objectContribution
      	id="moreunit.testcreator"
      	objectClass="org.eclipse.jdt.core.IJavaProject">
      	<action id="moreUnit.toolbar.DeleteMarkerAction"
      		label="Delete marker for tested methods"
      		class="moreUnit.toolbar.DeleteMarkerAction"
      		menubarPath="additions"/>      		
      </objectContribution>
      <objectContribution
      	id="moreunit.testcreator"
      	objectClass="org.eclipse.jdt.core.IJavaProject">
      	<action id="moreUnit.toolbar.AddMarkerAction"
      		label="Add marker for tested methods"
      		class="moreUnit.toolbar.AddMarkerAction"
      		menubarPath="additions"/>      		
      </objectContribution>
     </extension>

   <extension
      	point="org.eclipse.core.resources.markers"
      	id="testCase"
      	name="Has TestCase">
      	<super type="org.eclipse.core.resources.textmarker"/>
      	<persistent value="true"/>
    </extension>

	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider 
			markertype="moreUnit.testCase"
			icon="icons/classHasTest.gif"
			id="moreunit.testcaseimageprovider">
		</imageprovider>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type 
			name="moreUnit.testCaseAnnotation"
			super="org.eclipse.ui.workbench.texteditor.info"
			markerType="moreUnit.testCase">
		</type>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="moreUnit.testCaseAnnotation"
			icon="icons/classHasTest.gif">
		</specification>
	</extension>

	<extension point="org.eclipse.ui.decorators">
		<decorator
			id="moreunit.testdecorator"
			label="Decorate Classes with TestCase"
			state="true"
			class="moreUnit.decorator.UnitDecorator"
			adaptable="true"
			lightweight="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>
			</enablement>
			<description>
				Classes which have a Testclass get decorated.
			</description>
		</decorator>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page id="moreunit.moreunitPreferencePage"
			name="moreUnit"
			class="moreUnit.preferences.MoreUnitPreferencePage">
			<keywordReference id="moreunit.keywordReference.junit"/>
            <keywordReference id="moreunit.keywordReference.moreunit"/>
            <keywordReference id="moreunit.keywordReference.test"/>
		</page>
	</extension>
	
	<extension
         id="moreunit.keywordReferences"
         name="moreUnit Preferences Keywords"
         point="org.eclipse.ui.keywords">
      <keyword
            id="moreunit.keywordReference.junit"
            label="JUnit"/>
      <keyword
            id="moreunit.keywordReference.moreunit"
            label="moreUnit"/>
      <keyword
            id="moreunit.keywordReference.test"
            label="Test"/>
   </extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.renameParticipants"> 
		<renameParticipant id="moreunit.renameMethodParticipant"
			name="MoreUnitRenameMethodParticipant"
			class="moreUnit.refactoring.RenameMethodParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.renameParticipants"> 
		<renameParticipant id="moreunit.renameClassParticipant"
			name="MoreUnitMethodClassParticipant"
			class="moreUnit.refactoring.RenameClassParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	
	<!--
	<extension point="org.eclipse.ltk.core.refactoring.moveParticipants"> 
		<moveParticipant id="moreunit.moveMethodParticipant"
			name="MoreUnitMethodMethodParticipant"
			class="moreUnit.refactoring.MoveMethodParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod"/>
				</with>
			</enablement>
		</moveParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.moveParticipants"> 
		<moveParticipant id="moreunit.moveClassParticipant"
			name="MoreUnitMethodMethodParticipant"
			class="moreUnit.refactoring.MoveClassParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
				</with>
			</enablement>
		</moveParticipant>
	</extension>
	-->
	
</plugin>
