<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
  		 <command
	            name="JumpToTest"
	            defaultHandler="org.moreunit.handler.JumpActionHandler"
	            description="Jump to test."
	            categoryId="org.eclipse.jdt.ui.category.source"
	            id="org.moreunit.jumptotestaction">
	   </command> 
		<command
	            name="CreateTestMethod"
	            defaultHandler="org.moreunit.handler.CreateTestMethodActionHandler"
	            description="Creation of a testmethod."
	            categoryId="org.eclipse.jdt.ui.category.source"
	            id="org.moreunit.createtestmethod">
	   </command> 
   </extension> 
   <extension point="org.eclipse.ui.bindings">
   	   <key
	      sequence="CTRL+J"
	      commandId="org.moreunit.jumptotestaction"
	      contextId="org.eclipse.jdt.ui.javaEditorScope"
	      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key> 
	   <key
	      sequence="CTRL+U"
	      commandId="org.moreunit.createtestmethod"
	      contextId="org.eclipse.jdt.ui.javaEditorScope"
	      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
   
   <extension point="org.eclipse.ui.popupMenus">
	  <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.moreunit.contribution1">
         <action
               label="Generate Test"
               definitionId="org.moreunit.createtestmethod"
               class="org.moreunit.actions.CreateTestMethodEditorAction"
               menubarPath="additions"
               id="org.moreunit.actions.createtestmethodaction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.moreunit.contribution2">
         <action
               label="Jump to test"
               definitionId="org.moreunit.jumptotestaction"
               class="org.moreunit.actions.JumpAction"
               menubarPath="additions"
               id="org.moreunit.actions.jumptotestaction">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.moreunit.plugin.jumpFromCompilationUnitContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="org.moreunit.actions.JumpFromCompilationUnitAction"
               id="org.moreunit.plugin.action1"
               label="Jump to Test"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.moreunit.plugin.jumpFromTypeContribution"
            objectClass="org.eclipse.jdt.core.IType">
         <action
               class="org.moreunit.actions.JumpFromTypeAction"
               id="org.moreunit.plugin.action2"
               label="Jump to Test"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
      	id="org.moreunit.testcreator"
      	objectClass="org.eclipse.jdt.core.IMethod">
      	<action id="org.moreunit.actions.testcreatoraction"
      		label="Generate Test"
      		class="org.moreunit.actions.CreateTestMethodHierarchyAction"
      		menubarPath="additions"/>      		
      </objectContribution>
     </extension>

   <!--
   <extension
      	point="org.eclipse.core.resources.markers"
      	id="testCase"
      	name="Has TestCase">
      	<super type="org.eclipse.core.resources.textmarker"/>
      	<persistent value="true"/>
    </extension>

	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider 
			markertype="org.moreunit.testCase"
			icon="icons/classHasTest.gif"
			id="org.moreunit.testcaseimageprovider">
		</imageprovider>
	</extension>
	-->
	
	<!--
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type 
			name="org.moreunit.testCaseAnnotation"
			super="org.eclipse.ui.workbench.texteditor.info"
			markerType="org.moreunit.testCase">
		</type>
	</extension>
	-->
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.moreunit.testCaseAnnotation"
			icon="icons/classHasTest.gif"
			label="MoreUnit marker"
			overviewRulerPreferenceKey="org.moreunit.overview_ruler"
			overviewRulerPreferenceValue="false"
			verticalRulerPreferenceKey="org.moreunit.vertical_ruler"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="org.moreunit.color_preference"
			colorPreferenceValue="32,128,65"
			textPreferenceKey="org.moreunit.text_preference">
		</specification>
	</extension>

	<extension point="org.eclipse.ui.decorators">
		<decorator
			id="org.moreunit.testdecorator"
			label="Decorate Classes with TestCase"
			state="true"
			class="org.moreunit.decorator.UnitDecorator"
			adaptable="true"
			lightweight="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>
			</enablement>
			<description>
				Classes which have a Testclass get decorated.
			</description>
		</decorator>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.moreunit.moreunitPreferencePage"
			name="MoreUnit"
			class="org.moreunit.preferences.MoreUnitPreferencePage">
			<keywordReference id="org.moreunit.keywordReference.junit"/>
            <keywordReference id="org.moreunit.keywordReference.moreunit"/>
            <keywordReference id="org.moreunit.keywordReference.test"/>
		</page>
		<!--
		<page id="org.moreunit.moreunitPreferencePage_details"
			name="MoreUnit-Details"
			category="org.moreunit.moreunitPreferencePage"
			class="org.moreunit.preferences.MoreUnitDetailPreferencePage">
		</page>
		-->
	</extension>
	
	<extension
         id="org.moreunit.keywordReferences"
         name="org.moreunit Preferences Keywords"
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.moreunit.keywordReference.junit"
            label="JUnit"/>
      <keyword
            id="org.moreunit.keywordReference.moreunit"
            label="moreUnit"/>
      <keyword
            id="morg.oreunit.keywordReference.test"
            label="Test"/>
   </extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.renameParticipants"> 
		<renameParticipant id="org.moreunit.renameMethodParticipant"
			name="MoreUnitRenameMethodParticipant"
			class="org.moreunit.refactoring.RenameMethodParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.renameParticipants"> 
		<renameParticipant id="org.moreunit.renameClassParticipant"
			name="MoreUnitMethodClassParticipant"
			class="org.moreunit.refactoring.RenameClassParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.renameParticipants"> 
		<renameParticipant id="org.moreunit.renamePackageParticipant"
			name="MoreUniPackageParticipant"
			class="org.moreunit.refactoring.RenamePackageParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.moveParticipants"> 
		<moveParticipant id="moreunit.moveMethodParticipant"
			name="MoreUnitMethodMethodParticipant"
			class="org.moreunit.refactoring.MoveMethodParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod"/>
				</with>
			</enablement>
		</moveParticipant>
	</extension>
	
	<extension point="org.eclipse.ltk.core.refactoring.moveParticipants"> 
		<moveParticipant id="moreunit.moveClassParticipant"
			name="MoreUnitMethodMethodParticipant"
			class="org.moreunit.refactoring.MoveClassParticipant">  
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature"/>
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
				</with>
			</enablement>
		</moveParticipant>
	</extension>
	
	<extension
       point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true"/>
   </extension>
   
    <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.moreunit.properties.MoreUnitPropertyPage"
            id="org.moreunit.properties"
            name="MoreUnit"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
      <!--   
      <page
            class="org.moreunit.properties.UnitSourcesPropertiesPage"
            id="org.moreunit.unitSourcesPropertiesPage"
            name="MoreUnit Test Sources"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
      -->
      <!--
      <page
            class="org.moreunit.properties.ProjectPropertiesPage"
            id="Moreunit Properties"
            name="MoreUnit"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
      <page
            class="org.moreunit.properties.ProjectPropertiesPage"
            id="Moreunit Properties"
            name="MoreUnit"
            nameFilter="*"
            >
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      -->
      <!--
     <page
            class="org.moreunit.preferences.MoreUnitPreferencePage"
            id="org.moreunit.moreunitPreferencePage"
            name="MoreUnit Details"
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IJavaProject"
            category="org.moreunit.unitSourcesPropertiesPage">
      </page>
      -->
   </extension>
   
   <extension point="org.eclipse.ui.views">
   		<category id="org.moreunit.ui"
   			name="MoreUnit"/>
   		<view id="org.moreunit.missingtestmethodview"
   			name="Missing Testmethods"
   			class="org.moreunit.ui.MissingTestmethodViewPart"/>
   </extension>
   <!--
   <extension point="org.eclipse.ui.views">
   		<category id="org.moreunit.ui"
   			name="MoreUnit"/>
   		<view id="org.moreunit.missingtestclassview"
   			name="Missing Test Classes"
   			class="org.moreunit.ui.MissingTestclassViewPart"/>
   </extension>
   -->
   
	
</plugin>
