.DS_Store
.gitignore
.metadata
.release-build
target
classes
screenshots
docs/.project
org.moreunit.*/classes/
org.moreunit.*/target/
Thumbs.db

# non osgi libs for JRE11+ compatibility
org.moreunit.mock*/lib/
