Redirect permanent /docu.html http://moreunit.sourceforge.net/#documentation
Redirect permanent /docu_creation.html http://moreunit.sourceforge.net/#documentation/testcreation
Redirect permanent /docu_extension.html http://moreunit.sourceforge.net/#documentation/extensionpoint
Redirect permanent /docu_getting_started.html http://moreunit.sourceforge.net/#documentation/gettingstarted
Redirect permanent /docu_label.html http://moreunit.sourceforge.net/#documentation/labeldecoration
Redirect permanent /docu_marker.html http://moreunit.sourceforge.net/#documentation/editormarker
Redirect permanent /docu_prefs.html http://moreunit.sourceforge.net/#documentation/workspacepreferences
Redirect permanent /docu_prop.html http://moreunit.sourceforge.net/#documentation/projectproperties
Redirect permanent /docu_refactoring.html http://moreunit.sourceforge.net/#documentation/refactoringsupport
Redirect permanent /docu_runningtest.html http://moreunit.sourceforge.net/#documentation/testlaunching
Redirect permanent /docu_switching.html http://moreunit.sourceforge.net/#documentation/classtestswitching
Redirect permanent /docu_view.html http://moreunit.sourceforge.net/#documentation/missingtestmethodsview
Redirect permanent /download.html http://moreunit.sourceforge.net/#download
Redirect permanent /faq.html http://moreunit.sourceforge.net/#faq
Redirect permanent /kontakt.html http://moreunit.sourceforge.net/#about
Redirect permanent /releases.html http://moreunit.sourceforge.net/#releasenotes
