<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/homepage&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.build&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.dependencies.guice&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.extension&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.mock&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.mock.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.plugin&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.test&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.updatesite&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.moreunit.build/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ANT_HOME" value="/Applications/eclipse37Classic/plugins/org.apache.ant_1.8.2.v20110505-1300"/>
<mapEntry key="PATH" value="/opt/local/bin:/opt/local/sbin:/opt/local/bin:/opt/local/sbin:/usr/local/bin:/usr/local/sbin:/usr/local/mysql/bin:/Users/vera/bin:/System/Library/Frameworks/JavaVM.framework/Versions/1.5/Home:/Users/vera/libraries/apache-ant-1.7.0/bin:/Applications/android-sdk-mac_x86/tools:/bin:/Users/vera/libraries/apache-maven-3.0.3/bin::/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.moreunit.build"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="merge_build,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/org.moreunit.build/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
