<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/homepage&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.build&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.dependencies.guice&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.extension&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.mock&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.mock.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.plugin&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.test&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/org.moreunit.updatesite&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.moreunit.build/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.moreunit.build"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/org.moreunit.build/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
