body	{
	margin: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000; 
	background-color: #ffffff;
}

A  {text-decoration: none;} /* Darstellung von Links - NICHT die Farbe */
A:link  {color: #336666;} /* Linkfarbe normal */
A:Visited  {color: #666666;} /* besuchter Link */
A:Active  {} /* aktiver Link */
A:Hover  {text-decoration: underline;} /* Mouseover */

p, table, tbody, tr, th, td, tt, div, form, input, textarea, select, h1, h2, h3, h4, h5, h6, ul, ol, li, font, dl, dt, dd, marquee {
	font-family: inherit;
	font-size: inherit;
}

p { line-height: 160%; margin: 5px 0px 5px 0px; padding: 0px;}

table, form	{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

table {border-collapse: collapse;}
tr {vertical-align: top;}
th {text-align: left;}

hr {width: 100%; height: 1px; border: 0px }
i {padding-right: 5px;}

/* -------- LISTEN ----------- */
ul {
 margin: 0px 0px 5px 0px;
 padding: 0px;
}

  ul li {
    list-style-type: square;
    margin: 0px 0px 0px 18px;
    padding: 2px 0px 2px 0px;
  }


ol {margin: 0px 0px 0px 5px; padding: 0px;}

  ol li {
  	list-style-type: decimal;
    margin: 2px 0px 0px 25px;
    padding: 0px 0px 0px 0px;
  }

dt {
    display: list-item;
    list-style-type: square;
    margin: 0px 0px 0px 18px;
    padding: 2px 0px 2px 0px;
}

dd {margin: 0px 0px 5px 18px;}

/* -------- Ueberschriften ----------- */

H1, H2, H3, H4, H5 {font-weight: bold; line-height: 120%; margin: 0px; padding: 5px 0px 5px 0px;}
H1 {font-size: 1em; padding-top: 15px;}
H2 {font-size: 1.4em; padding-top: 15px;}
H3 {font-size: 1.3em; padding-top: 15px;}
H4 {font-size: 1.2em; padding-top: 15px;}
H5 {font-size: 1.1em; padding-top: 15px;}
H6 {font-size: 1em;}

/* -------- ab hier individuelle Formatierungen einfuegen ----------- */

div.all {
	padding-left: 150px;
	padding-right: 150px;
}
 
div.navigation a {
	padding-right: 20px;
}

div ul li, div ol li {
	padding-top: 10px;
}

div img {
	padding-top: 20px;
}

div.imagelist img{
	padding-right: 30px;
	padding-bottom: 20px;
}

div.viewfeatures ul li {
	padding-top: 0px;
}