/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
/* end of reset */

/* other common tricks */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
	padding: 15px;
}
/* end of other common tricks */

body {
	color: #444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* Global layout */
body {
	width: 1000px;
	margin: 0 auto;
	background: #ffffff url('../img/shadow.png') repeat-y top center;
}

#site-header {
	background: url('../img/logo.png') no-repeat left top;
	height: 75px;
	width: 960px;
	display: block;
	text-indent: -9999px;
	white-space: nowrap;
	margin: 15px 35px 0 55px;
}

#site-nav {
	display: block;
	width: 880px;
	margin: 0 60px;
}

#site-content { /* acts as body */
	width: 960px;
	margin: 0 20px;
}

#site-content>article {
	margin: 0 40px;
	background-color: white;
}

#site-footer {
	width: 880px;
	margin: 3em auto 1em auto;
}

#site-footer a {
	margin-right: 3em;
}

/* end of Global layout */

#site-nav>ul>li {
	display: inline;
	padding-right: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	z-index: 1;
}

#site-nav li>ul {
	position: absolute;
	opacity: 0;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	z-index: -1;
}

#site-nav li:hover>ul {
	padding: 0 2em 1em 2em;
	background-color: white;
	opacity: 1;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	z-index: 2;
}

/* Trick to add a top margin to the internal ul element. Simply putting a margin-top on the ul element doesn't work:
it prevents the user from moving the mouse from the li element to the internal ul element */
#site-nav li:hover>ul:before {
	content: '';
	display: block;
	margin: 0 -3em;
	height: 1em;
	background-color: white;
}

nav li a.selected {
	color: black;
	text-decoration: none;
}

#site-nav li>ul>li {
	margin: 1em 0;
	font-weight: bold;
}

#site-nav ol {
	margin: .5em 0 0 1em;
}

#site-nav ol>li {
	font-weight: normal;
}

article header {
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: 2px solid black;
	margin: 20px 0 20px 0;
	display: block;
}

section h1 {
	margin: 25px 0 10px 0;
	font-size: 1.4em;
	font-weight: bold;
}

section h2 {
	margin: 20px 0 10px 0;
	font-size: 1.2em;
	font-weight: bold;
}

section h3 {
	margin: 10px 0 5px 0;
	font-size: 1.1em;
	font-style: oblique;
}

em {
	font-style: oblique;
}

tt {
  background-color: #eee;
  color: black;
  padding: 1px 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

p {
	margin: 10px 0 5px 0;
	text-align: justify; 
}

a img {
	border: 0;
}

figure {
	margin: 10px 10px 20px 10px;
}

figure figcaption {
	display: block;
}

aside {
	display: block;
	margin: 20px;
}

div.figure-group {
	margin: 20px;
}

aside figure,
div.figure-group figure {
	float: left;
	text-align: center;
	margin: 0 20px;
}

aside:after,
div.figure-group:after {
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
}

/** Sections **/

#new {
	border: 1px solid #444;
	padding: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	margin-top: 40px;
}

#new h1 {
	background: #ffffff url('../img/new-small.png') top left no-repeat;
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	height: 30px;
	padding: 15px 0 0 60px;
	margin: 0 0 0 0;
}

#new p {
	margin: 0;
	padding: 10px 5px 5px 5px;
}

#releasenotes h2 {
	margin-bottom: 5px;
}

li.done {
	color: green;
}

li.partially-done {
	color: orange;
}

.lang:after {
	margin-left: .8em;
	padding: .5px .4em;
	color: white;
	font-size: .8em;
	font-style: normal;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.lang+.lang:after {
	margin-left: .3em;
}
.lang.all:after {
	content: 'All';
	background-color: #5d7;
}
.lang.groovy:after {
	content: 'Groovy';
	background-color: #3483A1;
}
.lang.java:after {
	content: 'Java';
	background-color: #f77;
}

.featured {
	font-weight: bold;
}

.hidden {
	display: none;
}
