<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.moreunit.mock.ui.editor.mockDependenciesAction">
         <action
               label="Mock Dependencies in Test Case..."
               class="org.moreunit.mock.actions.ExtensionFactory"
               menubarPath="org.moreunit.ui.editor.menu.moreunit/group2"
               id="org.moreunit.mock.actions.MockDependenciesAction">
         </action>
      </viewerContribution>
   </extension>
   
</plugin>
