<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.moreunit.core.languages" name="Langages having specific support in MoreUnit" schema="schema/org.moreunit.core.languages.exsd"/>
   
   <extension point="org.eclipse.ui.startup">
      <startup class="org.moreunit.core.EarlyStartup"/>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <category id="org.moreunit.core.commands.category"
         name="MoreUnit"/>
      <command id="org.moreunit.core.commands.jumpCommand"
         name="Jump to Test/Source"
         defaultHandler="org.moreunit.core.commands.JumpActionHandler"
         description="Jump to the test or source associated to the current file."
         categoryId="org.moreunit.core.commands.category"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key sequence="CTRL+J"
         commandId="org.moreunit.core.commands.jumpCommand"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- this one is for convenience when the cursor is not in the editor anymore -->
      <key sequence="CTRL+J"
         commandId="org.moreunit.core.commands.jumpCommand"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester id="org.moreunit.core.expressions.resourceTester"
         type="org.eclipse.core.resources.IFile"
         namespace="org.moreunit.core.file"
         properties="hasDefaultSupport"
         class="org.moreunit.core.expressions.FileTester">
      </propertyTester>
   </extension>
  
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.moreunit.core.definitions.languageHasDefaultSupport">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.moreunit.core.file.hasDefaultSupport" value="true"/>
            </adapt>
         </iterate>
      </definition>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
            label="MoreUnit"
            mnemonic="M"
            icon="icons/moreunitLogo.gif"
            id="org.moreunit.core.menus.menu">
            <command
               commandId="org.moreunit.core.commands.jumpCommand"
               mnemonic="J"/>
            <visibleWhen checkEnabled="false">
               <or>
                  <with variable="activeMenuSelection">
                     <reference definitionId="org.moreunit.core.definitions.languageHasDefaultSupport"/>
                  </with>
                  <with variable="activeMenuEditorInput">
                     <reference definitionId="org.moreunit.core.definitions.languageHasDefaultSupport"/>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   
   <extension id="org.moreunit.core.keywords" point="org.eclipse.ui.keywords">
      <keyword id="org.moreunit.core.keywords.moreUnit" label="MoreUnit"/>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.moreunit.core.preferences.featuredLanguagesPage"
         name="MoreUnit"
         class="org.moreunit.core.preferences.FeaturedLanguagesPreferencePage">
         <keywordReference id="org.moreunit.core.keywords.moreUnit"/>
      </page>
      <page id="org.moreunit.core.preferences.otherLanguagesPage"
         name="User Languages"
         category="org.moreunit.core.preferences.featuredLanguagesPage"
         class="org.moreunit.core.preferences.OtherLanguagesPreferencePage">
         <keywordReference id="org.moreunit.core.keywords.moreUnit"/>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.propertyPages">
      <page id="org.moreunit.core.properties.featuredLanguagesPage"
         name="MoreUnit"
         class="org.moreunit.core.preferences.FeaturedLanguagesPropertyPage">
         <keywordReference id="org.moreunit.core.keywords.moreUnit"/>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
      <page id="org.moreunit.core.properties.otherLanguagesPage"
         name="User Languages"
         category="org.moreunit.core.properties.featuredLanguagesPage"
         class="org.moreunit.core.preferences.PropertyPageFactory:anyLanguage:The following generic settings apply to languages that do not have specific configuration.">
         <keywordReference id="org.moreunit.core.keywords.moreUnit"/>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator id="org.moreunit.core.decorators.testedFileDecorator"
         label="Tested File Indicator (MoreUnit)"
         state="true"
         class="org.moreunit.core.decorators.TestedFileDecorator"
         adaptable="true"
         lightweight="true">
            <enablement>
               <objectClass name="org.eclipse.core.resources.IFile"/>
            </enablement>
            <description>Decorates source files which have a corresponding test file.</description>
      </decorator>
   </extension>

</plugin>
