/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
/* end of reset */

/* other common tricks */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
	padding: 15px;
}
/* end of other common tricks */

body {
	color: #444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* Global layout */
body {
	width: 1000px;
	margin: 0 auto;
	background: #ffffff url('../img/shadow.png') repeat-y top center;
}

#site-header {
	background: url('../img/logo.png') no-repeat left top;
	height: 75px;
	width: 312px;
	display: block;
	text-indent: -9999px;
	white-space: nowrap;
	margin: 15px 35px 0 55px;
}

#site-nav {
	position: absolute;
	top: 110px;
	width: 880px;
	margin: 0 60px;
}

#site-content { /* acts as body */
	position: absolute;
	top: 130px;
	width: 960px;
	margin: 0 20px;
}

#wrapper {
	margin: 0 40px;
}

.content {
	margin: 0 60px;
}

#site-footer {
	display: block;
	margin-top: 50px;
}
/* end of Global layout */

#site-nav li {
	display: inline;
	padding-right: 10px;
}

nav li a.selected {
	color: black;
	text-decoration: none;
}

article header {
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: 2px solid black;
	margin: 20px 0 20px 0;
	display: block;
}

section h1 {
	margin: 25px 0 10px 0;
	font-size: 1.4em;
	font-weight: bold;
}

section h2 {
	margin: 20px 0 10px 0;
	font-size: 1.2em;
	font-weight: bold;
}

section h3 {
	margin: 10px 0 5px 0;
	font-size: 1.1em;
	font-style: italic;
}

em {
	font-style: italic;
}

p {
	margin: 10px 0 5px 0;
	text-align: justify; 
}

ol li {
	list-style: decimal-leading-zero;
	margin-left: 3px;
}

a img {
	border: 0;
}

figure {
	margin: 10px 10px 20px 10px;
}

figure figcaption {
	display: block;
}

aside {
	display: block;
	margin: 20px;
}

div.figure-group {
	margin: 20px;
}

aside figure,
div.figure-group figure {
	float: left;
	text-align: center;
	margin: 0 20px;
}

aside:after,
div.figure-group:after {
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
}

/** Sections **/

#new {
	border: 1px solid #444;
	padding: 10px;
	border-radius: 15px;
	margin-top: 40px;
}

#new h1 {
	background: #ffffff url('../img/new-small.png') top left no-repeat;
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	height: 30px;
	padding: 15px 0 0 60px;
	margin: 0 0 0 0;
}

#new p {
	margin: 0;
	padding: 10px 5px 5px 5px;
}

#releasenotes h2 {
	margin-bottom: 5px;
}